node_modules/
.env
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/frontend/out/
/frontend/build/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache
venv/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
.idea/
.DS_Store
